<h1>Contacts</h1>
<ul>
    <% @contacts.each do |contact| %>
        <% if contact.address != nil %> 
            <li> ID: <%= contact.id %> - Name: <%= contact.name %> - Address: <%= contact.address %> </li>
        <% else %>
            <li> <%= contact.name %> </li>
        <% end %>
    <% end %>
</ul>

<% ('A'..'Z').each do |letter| %>
	<%= link_to letter, '/search/' + letter %>
<% end %>