<h3>
  <strong>Name:</strong>
  <%= @contact.name %>
</h3>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @contact.email_address %>
</p>

<p>
  <%= link_to 'Back', contacts_path%>
</p>